@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.grid {
    display: grid;
    grid-template-columns: 21% 79%;
}

.sidebar {
    background-color: #1992d4;
    height: 145vh;
    color: white;
}

.list-items-bottom {
    margin-top: 50px;
}

.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-left: 12px;
    margin-bottom: 29px;
    font-size: 17px;
}

.dashboard-logo {
    fill: white;
    height: 45px;
    width: 45px;
}

.icon-text {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 14px;
    margin-left: 21px;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 5px;
}

.icon-text p {
    margin: 8px;
    padding: 0;
    font-size: 19px;
}

.home-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.profile-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.messages-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.history-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.tasks-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.communities-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.settings-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.support-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.privacy-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.main {
    background-color: white;
    height: 145vh;
    display: grid;
    grid-template-rows: 18% 82%;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 23px;
    margin-top: 8px;
}

.search-icon {
    fill: black;
    height: 22px;
    width: 22px;
    margin-left: 23px;
    margin-right: 20px;
}

.search {
    width: 528px;
    height: 25px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 50px;
}

.notification-icon {
    fill: black;
    height: 22px;
    width: 22px;
    margin-left: 100px;
}

.deepak-img {
    height: 45px;
    width: 45px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 250px;
}

.content {
    background-color: #e2e8f0;
}