@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.main {
    height: 145vh;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 21% 79%;
}

.sidebar {
    background-color: #1992d4;
    height: 145vh;
    color: white;
}

.list-items-bottom {
    margin-top: 50px;
}

.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-left: 12px;
    margin-bottom: 29px;
    font-size: 17px;
}

.dashboard-logo {
    fill: white;
    height: 45px;
    width: 45px;
}

.icon-text {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 14px;
    margin-left: 21px;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 5px;
    cursor: pointer;
}

.icon-text p {
    margin: 8px;
    padding: 0;
    font-size: 19px;
}

.home-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.profile-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.messages-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.history-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.tasks-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.communities-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.settings-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.support-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.privacy-svg {
    fill: white;
    height: 22px;
    width: 22px;
}

.main {
    background-color: white;
    height: 145vh;
    display: grid;
    grid-template-rows: 18% 82%;
}

.header {
    background-color: white;
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: relative;
    box-shadow: 0px 4px 8px #cdd2d9; 
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 23px;
    margin-top: 8px;
}

.search-icon {
    fill: black;
    height: 22px;
    width: 22px;
    margin-left: 23px;
    margin-right: 20px;
    cursor: pointer;
}

.search {
    width: 528px;
    height: 25px;
    background-color: #e2e8f0;
    border: none;
    border-radius: 50px;
}

.notification-icon {
    fill: black;
    height: 22px;
    width: 22px;
    margin-left: 100px;
    cursor: pointer;
}

.deepak-img {
    height: 45px;
    width: 45px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 250px;
}

.header-bottom {
    display: flex;
    flex-direction: row;
}

.deepak-main {
    height: 70px;
    width: 70px;
    border-radius: 250px;
    margin-left: 50px;
    margin-top: 15px;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 0%;
    gap: 0;
    line-height: 0.4;
    justify-content: center;
}

.welcome-text {
    margin-bottom: 0px;
    font-size: 13px;
}

.header-bottom-name {
    margin-bottom: 0;
    padding: 0;
}

.header-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 210px;
    margin-top: 30px;
    margin-right: 30px;
}

.new-btn {
    width: 90px;
    height: 36px;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.new-btn:hover {
    background-color: hsl(201, 79%, 66%);
}

.upload-btn {
    width: 90px;
    height: 36px;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.upload-btn:hover {
    background-color: hsl(201, 79%, 66%);
}


.share-btn {
    width: 90px;
    height: 36px;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.share-btn:hover {
    background-color: hsl(201, 79%, 66%);
}

.content {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 72% 28%;
}

.projects h4 {
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 40px;
    padding-bottom: 0%;
    line-height: 0.3px;
    font-size: 18px;
}

.cards {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card {
    background-color: white;
    border-left: 6px solid #f0b429;
    height: 190px;
    margin-left: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 30px;
    box-shadow: 4px 4px 8px #d2d8df; 
}

.card h6 {
    font-size: 15px;
    margin-bottom: 0px;
    line-height: 0.2px;
}

.suf-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 20px;
}

.eas-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 20px;
}

.lp-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 00px;
}

.c-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 20px;
}

.rps-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 0px;
}

.r-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    gap: 20px;
    margin-top: 40px;
}

.star-plus {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.eye-plus {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.fork {
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.ann-trend {
    display: grid;
    grid-template-rows: 35% 65%;
    margin-left: 20px;
}

.ann-card {
    width: 245px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.ann-card h6 {
    font-size: 13px;
    margin-bottom: 0;
    margin-top: 15px;
    line-height: 0px;
    padding: 0%;
}

.ann-card p {
    font-size: 10px;
    margin-bottom: 0%;
}

.announcements h4 {
    margin-top: 40px;
    padding-bottom: 0%;
    line-height: 0.3px;
    font-size: 18px;
}

.ann-text {
    margin-left: 20px;
    margin-right: 10px;
    padding: 1%;
}

hr {
    align-self: center;
    justify-self: center;
    border: 0.5px solid black;
    opacity: 0.1;
    width: 80%;
}

.trending h4 {
    font-size: 18px;
    margin-top: 130px;
    line-height: 0px;
}

.trend-card {
    width: 245px;
    height: 54%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 5px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.trend-img-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 15px;
}

.trend-img-text img {
    border-radius: 250px;
    width: 45px;
}

.trend-text {
    margin-left: 20px;
    line-height: 0px;
}

.trend-text h6 {
    font-size: 13px;
    margin-bottom: 20px;
}

.trend-text p {
    font-size: 13px;
    margin-top: 20px;
}
